/* links */
a, a:visited{
	color:#0865b5; 
	text-decoration:none;
}
a:hover{
	color:#268ce3; 
	text-decoration:underline;
}

/* Button */
.button{
	background-color:#023161;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	-khtml-border-radius: 4px; /*Linux browsers*/
	border-radius: 4px; /*CSS3*/
	background-image:url(images/bg-button.gif);
	background-repeat:repeat-x;
	color:#fff !important;
	margin-right:10px;
	padding:8px 20px 10px 20px;
	font-size:16px;
}
.button2{
	background-color:#bcbcbc;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	-khtml-border-radius: 4px; /*Linux browsers*/
	border-radius: 4px; /*CSS3*/
	background-image:url(images/bg-button2.gif);
	background-repeat:repeat-x;
	color:#fff !important;
	margin-right:10px;
	padding:8px 20px 10px 20px;
	font-size:16px;
	display: inline-block;
}
.button-alt{
	background-color:#023161;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	-khtml-border-radius: 4px; /*Linux browsers*/
	border-radius: 4px; /*CSS3*/
	background-image:url(images/bg-button.gif);
	background-repeat:repeat-x;
	color:#fff !important;
	padding:8px 20px 10px 20px;
	font-size:16px;
}
.button:hover, .button-alt:hover, .button2:hover{color:#fff; text-decoration:none}

.redtext{color:#023e71;}

ul.circle li{
	background-image:url(blue/list-red.png) !important;
	background-position:0px center;
	background-repeat:no-repeat;
	padding:0px 0px 0px 20px !important;
	line-height:20px !important;
	list-style-type:none;
}