.front-banner {
  POSITION: relative; HEIGHT: 415px; OVERFLOW: hidden
}
.front-banner UL {
  POSITION: absolute; MARGIN: 0px 0px 0px 0px; WIDTH: 1100px; DISPLAY: block; HEIGHT: 415px;
}
.front-banner LI {
  POSITION: relative; WIDTH: 100%; HEIGHT: 415px; OVERFLOW: hidden
}
.front-banner-nav {
  Z-INDEX: 6; POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100px; BOTTOM: 20px; MARGIN-LEFT: -50px; LEFT: 50%
}
.front-banner-nav A {
  TEXT-INDENT: -9000px; MARGIN: 0px 5px; WIDTH: 13px; DISPLAY: block; BACKGROUND: url(../images/frontBannerNav1.png) no-repeat center center; FLOAT: left; HEIGHT: 13px; _background: none
}
.front-banner-nav A.activeSlide {
  BACKGROUND: url(../images/frontBannerNav.png) no-repeat center center; _background: none
}
.front-banner-nav img{border:0px}

.Ddefaultad{ width:100%; margin:0 auto; clear:both;overflow:hidden; height:440px; background-image:url(../images/idesign_22.jpg)}

.Dcontent1{width:1100px; margin:0 auto;padding-top:25px}
.Dcontentimg{float:left; padding-left:70px;}
.Dcontentnew{ float:left; width:255px; margin-left:10px; display:inline}
.Dcontentnew li{ float:left; line-height:20px; width:255px}
.Dcontentadimg {float:left;width:305px}
.Dcontentadimg .li1{float:left;line-height:67px; height:67px; width:60px; margin-left:15px;margin-right:5px; display:inline;overflow: hidden}
.Dcontentadimg .li2{float:left;line-height:65px; height:65px; width:80px; margin-left:15px;margin-right:5px; display:inline;overflow: hidden}
.Dcontentadimg .li3{float:left;line-height:57px; height:57px; width:60px; margin-left:15px;margin-right:5px;  margin-top:5px;display:inline;overflow: hidden}

.Dcontentadnewlist{float:left;width:200px;margin-left:25px; display:inline}
.Dcontentadnewlist li{ float:left; line-height:23px; width:200px;color:#797979;}
.Dcontentadnewlist li a,.Dcontentadnewlist li a:visited,.Dcontentadnewlist li a:hover{font-size:12px; color:#797979; line-height:20px;  }

.Dcontent2{margin:20px auto;}
.Dcontent2Title img{margin: 0 auto}

.Dcontent3{width:1025px; margin:0 auto;}
.Dcontent3img{float:left;width:1025px;; background-image:url(../images/idesign_70.jpg); height:210px; background-repeat:no-repeat}
.Dcontent3imglist{float:left; margin-left:308px; display:inline; width:504px}
.Dcontent3imglist li{float:left; width:168px}




.wrap5 {
  POSITION: relative; WIDTH: 168px; HEIGHT: 131px; OVERFLOW: hidden; CURSOR: pointer
}
.wrap5 IMG {
  DISPLAY: block
}
.wrap5 DIV {
  POSITION: absolute; PADDING-BOTTOM: 10px; PADDING-LEFT: 5px; WIDTH: 168px; PADDING-RIGHT: 10px; BACKGROUND: url(trans.gif); HEIGHT: 131px; TOP: 0px; PADDING-TOP: 131px; LEFT: 0px
}
.wrap5 DIV B {
  Z-INDEX: 10; POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=85); WIDTH: 168px; DISPLAY: block; BACKGROUND: #ef655e; HEIGHT: 131px; TOP: 131px; LEFT: 0px; opacity: 0.85
}
.wrap5 DIV SPAN {
  Z-INDEX: 11; POSITION: absolute; PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #fff; PADDING-TOP: 15px
}
.wrap5 DIV SPAN P {
  FONT-SIZE: 14px
}

.wrap5 DIV SPAN P a{
  FONT-SIZE: 14px;COLOR: #fff;
}
.wrap5 DIV SPAN P a:hover{
  FONT-SIZE: 14px;COLOR: #fff;
}


.wrap2 {
  POSITION: relative; WIDTH: 168px; HEIGHT: 78px; OVERFLOW: hidden; CURSOR: pointer
}
.wrap2 IMG {
  DISPLAY: block
}
.wrap2 DIV {
  POSITION: absolute; PADDING-BOTTOM: 10px; PADDING-LEFT: 5px; WIDTH: 168px; PADDING-RIGHT: 10px; BACKGROUND: url(trans.gif); HEIGHT: 78px; TOP: 0px; PADDING-TOP: 78px; LEFT: 0px
}
.wrap2 DIV B {
  Z-INDEX: 10; POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=85); WIDTH: 168px; DISPLAY: block; BACKGROUND: #ef655e; HEIGHT: 78px; TOP: 78px; LEFT: 0px; opacity: 0.85
}
.wrap2 DIV SPAN {
  Z-INDEX: 11; POSITION: absolute; PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #fff; PADDING-TOP: 15px
}
.wrap2 DIV SPAN P {
  FONT-SIZE: 14px
}

