*{padding:0;margin:0;}
body{font-size:12px; font-family:微软雅黑,宋体; background-color:#FFF }
img {border: 0px;}
/*ul, li {list-style-type: none;}*/
ul{margin:0px;padding:0px;/*list-style:none;*/}
/*li{list-style:none;}*/
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;} 
.clear{clear:both;height:1px; margin-top:-1px; width:100%;} 
a,a:visited,a:active{text-decoration:none; color:#000}
a:hover{text-decoration:none;color:#000}

@media (max-width: 768px){
  .DHeadLogoimg img{height: 65px;}
}
.stepOne-navbar .navbar-toggle{
  background-color: #ccc;
  margin-top: 30px;
}
.stepOne-navbar .navbar-toggle .icon-bar{background-color: #fff}

.stepOne-navbar  {margin-bottom: 0}
.stepOne-navbar .DHeadLogoimg {height: 104px;}
.stepOne-navbar .navbar-nav > li > a{
    font-size: 14px;
    color: #4e4c4f;
}
.stepOne-navbar .navbar-brand img{
  max-height: 80px;
}
@media (max-width: 992px){
.stepOne-navbar .navbar-brand img{
  max-height: 50px;
}
}
@media (min-width: 768px){
  .stepOne-navbar .navbar-nav{margin-top: 65px}
  .stepOne-navbar .navbar-nav > li{border-right: 1px solid #C9C9C9}
  .stepOne-navbar .navbar-nav > li:last-child{border-right:none;}
  .stepOne-navbar .navbar-nav > li > a{padding:0 30px;}
}
.stepOne-navbar .navbar-nav > li > a:hover{
  background-color: transparent;
}

.DHeadMainMenu{ width:100%; margin:0 auto; clear:both;overflow:hidden; height:44px; background-color:#2e2e2e}
.DHeadMainMenu .DHeadMainMenusub{ margin:0 auto; height:44px; background-color:#898989}
.DHeadMainMenu .DHeadMainMenusub li{float:left;height:44px; text-align:center;}
.DHeadMainMenu .DHeadMainMenusub .nomenusel{float:left;background-image:url(../img/idesign_17.jpg); width:182px; height:44px;}
.DHeadMainMenu .DHeadMainMenusub .menusel{float:left;background-image:url(../img/idesign_15.jpg); width:182px; height:44px;}
.DHeadMainMenu .DHeadMainMenusub li a{margin-top:8px; float:left;width:182px;}

.DHeadMainMenu .DHeadMainMenusub .nomenusel a,.DHeadMainMenu .DHeadMainMenusub .nomenusel a:visited,.DHeadMainMenu .DHeadMainMenusub .nomenusel a:hover{font-size:14px; color:#FFF;  line-height:16px;  }
.DHeadMainMenu .DHeadMainMenusub .menusel a,.DHeadMainMenu .DHeadMainMenusub .menusel a:visited,.DHeadMainMenu .DHeadMainMenusub .menusel a:hover{font-size:14px; color:#FFF; line-height:16px}

.foot-chi{width:100%; background-image:url(../img/idesign_74.jpg);height: 20px;margin-top: 20px}
.Bottom{width:100%;}
.Bottomcontent{width:100%; margin:0 auto; clear:both;overflow:hidden;padding: 50px 0;color: #fff;background-color: #C70125;background-image: url(../img/footbg.jpg)}
.Bottomcontent a{color: #fff}
.Bottomcontent .box-2{margin-left:20px;}
.Bottomcontentimg{margin-top:2%;}
.Bottomcontentimg img{margin:0 auto;}
@media (max-width: 768px){
  .Bottomcontent .box-2{margin-left:0px;}
  .Bottomcontentimg{margin:1% auto;}
}
.copyright{background-color: #770117; text-align:center; padding: 5px 0}
.Bottomcontentfont1{text-align:center; color:#FFF }
.Bottomcontentfont1 a,.Bottomcontentfont1 a:visited,.Bottomcontentfont1 a:active,.Bottomcontentfont1 a:hover{text-decoration:none; color:#FFF}

.ScrollAdTd{ padding-right:10px}

.bottoms a,.bottoms a:visited,.bottoms a:active,.bottoms a:hover{text-decoration:none; color:#FFF}

.index-service .item{font-size: 14px;margin-bottom: 10px;}
.index-service .item img{margin:0 auto;height: 200px}

.page-main .breadcrumb{background-color: #c70125;float: left;width: 100%;}
.page-main .breadcrumb a{color: #fff}
.page-main .breadcrumb > .active{color: #ccc}
.page-main .content{clear: both;}
.siderbar h4{background-color: #C70125;border-radius: 7px;color: #fff;font-size: 14px;text-indent: 10px;padding: 3px 0}
.siderbar .partener li{margin-bottom: 5px}

.home-slider .carousel-inner > .item {
    background-color: #f6f6f6;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    overflow: hidden;
    /*padding: 80px 0 0;*/
}
.home-slider .carousel-indicators{bottom:10px;}

#item-1 {
    background-image: url("../img/slide01.jpg");
    background-position: center bottom;
}
#item-2 {
    background-image: url("../img/slide02.jpg");
}
#item-3 {
    background-image: url("../img/slide03.jpg");
}
/*** First Slider ***/
.home-slider h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 35px;
}
.home-slider h4 > span {
  display: inline-block;
  margin-bottom: 3px;
  padding: 5px 15px;
  background: rgba(237, 62, 73, 0.9);
  font-size: 18px;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
}
.home-slider ul {
  list-style-type: none;
  padding: 0;
}
@media (max-width: 306px) {
.home-slider h1 {
  font-size: 36px;
  margin-bottom: 35px;
}
}
/*** Second Slider ***/
.home-slider #item-2 ul {
  margin-top: 20px;
}
.home-slider #item-2 ul > li {
  text-align: left;
}
.home-slider #item-2 ul > li > span {
  display: inline-block;
  margin-bottom: 3px;
  padding: 3px 15px;
  background: rgba(237, 62, 73, 0.9);
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
}
.home-slider #item-2 ul.string > li > span {
  background: rgba(43, 171, 207, 0.9);
}
.home-slider #item-2 ul > li h2 {
  color: #ffffff;
}
/*** Third Slider ***/
.home-slider #item-3 ul {
  margin: 30px 0;
}
.home-slider #item-3 ul > li {
  font-size: 18px;
  padding: 5px 0;
  color: #ffffff;
}
.home-slider #item-3 ul > li > i {
  color: #ed3e49;
}
.home-slider #item-3 img {
  max-width: 300px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  /* Adjusting for small devices */
  .home-slider .carousel-inner > .item {
    /*padding-top: 50px;*/
  }
}
@media (max-width: 767px) {
  /* Adjusting for mobile */
  .home-slider .carousel-inner > .item {
    /*padding-top: 50px;*/
    text-align: left;
  }
  .home-slider #item-2 ul > li {
    text-align: left;
  }
  .home-slider #item-2 ul > li > span {
    font-size: 22px;
    margin-bottom: 7px;
  }
  .home-slider #item-3 ul {
    text-align: left;
    margin-left: 50px;
  }
}

/* ===== Carousel ===== */
/*** Slideshow controls ***/
a.carousel-arrow {
  height: 60px;
  width: 60px;
  border-radius: 0;
  line-height: 60px;
  text-align: center;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -25px;
  background: transparent;
  color: transparent;
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: background 300ms, color 300ms;
  transition: background 300ms, color 300ms;
}
.carousel:hover a.carousel-arrow {
  background: none;
  color: #FFF;
}
.carousel a.carousel-arrow:hover {
  background: none;
}
a.carousel-arrow:hover,
a.carousel-arrow:active {
  text-decoration: none;
}
a.carousel-arrow-prev {
  left: 10px;
  right: auto;
  padding-right: 5px;
}
a.carousel-arrow-next {
  right: 10px;
  left: auto;
  padding-left: 5px;
}

.index-service .thumbnail{
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right:1px solid #ddd;
  min-height: 335px;
}
.index-service .thumbnail h5{
  color: #023e71
}
.index-service .no-border .thumbnail{
  border-right: none;
}
@media (max-width: 991px){
  .index-service .thumbnail{
    border: none;
  }
}

.content3{
  background-color: #f4f4f4;
  padding-bottom: 15px;
  padding-top: 10px;
}